@model EcoVidaCR.Models.Usuarios;
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body class="fondoDestinos">
<div class="container">
    <div class="row">

        <div class="col-sm-4 ">
        </div>

        <div class="col-sm-4 bg-success text-light p-5 m-5">
            <h2 class="text-center mb-4 mt-2">Inicio de sesión</h2>
            @*Mostrar un mensaje de error mediante el alert*@
            @if (TempData["Mensaje"] != null)
            {
                //Si tiene datos mostramos el alert en caso de que falle la autenticacion
                <div class="alert alert-warning" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"> </button>
                    <stromg>
                        @TempData["Mensaje"]
                    </stromg>
                </div>

            }


            @*Ojo este formulario ejecuta el Action login*@
            <form asp-action="Login" id="FormularioLogin">
                @*Entrada de datos para Email*@
                <div class="form-group">
                    @*<label aps-for="correo" class="control-label">Email</label>*@
                    <input asp-for="correo" class="form-control" placeholder="Correo electrónico" />
                    <span asp-validation-for="correo" class="text-danger"> </span>

                </div>

                @*Entrada de datos para Password*@
                <div class="form-group">
                    @*<label aps-for="password" class="control-label">Password</label>*@
                    <input asp-for="password" class="form-control mt-4 mb-3" placeholder="Contraseña"/>
                    <span asp-validation-for="password" class="text-danger"> </span>
                    <p class="text-center">¿No tiene una cuenta?  <a class="text-light" asp-area="" asp-controller="Usuarios" , asp-action="CrearCuenta">Cree una.</a></p>

                    @*Ojo aqui podemos crear una cuenta en caso de que no tenga el usuario*@
                    

                </div>

                @*Boton encargado de realizar el postback del formulario*@
                <div class="form-group text-center">
                    <input type="submit" value="Aceptar" class="btn btnAceptarLogin"/>

                </div>

            </form>
        </div>

        <div class="col-sm-4">
        </div>
    </div>

</div>
</body>


