@model EcoVidaCR.Models.Destinos

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class=text-center> Añadir Destino Turístico</h1>

<hr />
<div class="row">
    <div class="col-lg-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="idDestino" class="control-label"></label>
                <input asp-for="idDestino" class="form-control" />
                <span asp-validation-for="idDestino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descripcion" class="control-label"></label>
                @*<input asp-for="descripcion" class="form-control" />*@
                <textarea asp-for="descripcion" class="form-control" rows="4"> </textarea>
                <span asp-validation-for="descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ubicacion" class="control-label"></label>
                <input asp-for="ubicacion" class="form-control" />
                <span asp-validation-for="ubicacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="aspectos" class="control-label"></label>
             @*   <input asp-for="aspectos" class="form-control" />*@
                <textarea asp-for="aspectos" class="form-control" rows="4"> </textarea>
                <span asp-validation-for="aspectos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rutaURLimg" class="control-label"></label>
                <input asp-for="rutaURLimg" class="form-control" />
                <span asp-validation-for="rutaURLimg" class="text-danger"></span>
            </div>
            <div class="form-group  mt-3 text-center">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
                <div>
                    <a asp-action="Index">Regresar</a>
                </div>
            
        </form>
    </div>
   <div class="col-lg-6">
        <div class="mt-5">
           <img src="~/img/destinos/imgCostaRica.jpg" width="550" height="350" /><br>
        </div>
   </div>

</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
