---
import Layout from "../layouts/Layout.astro";
import Picture from "../components/Picture.astro";
import Navbard from "../components/Navbard.astro";
import Bloque from "../components/Bloque.astro";
---

<Layout title="Gerson-Porfolio">
	<header>
		<Navbard />
	</header>
	<main>
		<div class="row">
			<div class="col-4">
				<h1>
					Gerson Solano <span class="text-gradient"
						>Software Developer</span>
				</h1>
				<p class="instructions">
					To get started, open the directory <code>src/pages</code> in
					your project.<br />
					<strong>Code Challenge:</strong> Tweak the "Welcome to
					Astro" message above.
				</p>
			</div>
			<div class="col-8">
				<Picture src="/img/sdev.png" alt="Software Developer" />
			</div>
		</div>

		<Bloque
			img="/img/sdev.png"
			alt="Software Engineer"
			name="Full Stack Developer"
			body="Experiencia en Desarrollo"
		/>
	</main>
</Layout>
