---
interface Props {
	img: string;
    alt: string;
	name: string;
	body: string;
}

const { img, name, body, alt } = Astro.props;
---


<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src={img} alt={alt} /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">{name}</h2>
                    <p>{body}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    
.display-4 {
  font-size: calc(1.475rem + 2.7vw);
  font-weight: 300;
  line-height: 1.2;
}
.order-lg-1 {
    order: 1 !important;
  }
</style>
