@{
    ViewData["Title"] = "Consecuencias";
}


<div>
    <div class="position-relative">
        <img src="~/img/consecuencias/titulo.jpg" alt="imagen de fondo" width="100%" height="350px">
        <div class="position-absolute top-50 start-50 translate-middle">
            <div class="text-center">
                <h1 class="text-white tamH1">CONSECUENCIAS</h1>
                <h4 class="text-white">De no tener un ambiente libre de contaminación</h4>
            </div>
        </div>
    </div>

    <h2 class="text-center mt-5">Cuidemos nuestro planeta</h2>

    <div class="row mt-5">
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mt-3 image-container">
            <img src="~/img/consecuencias/img1.jpg" alt="imagen de fondo" width="100%" height="350">
            <div class="overlay">
                <div class="text">
                    <h4>Hogar Compartido</h4>
                    <p>
                        El planeta Tierra es nuestro hogar compartido y cuidarlo,
                        es una forma de mostrar gartitud por todo lo que nos brinda
                    </p>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mt-3 image-container">
            <img src="~/img/consecuencias/img3.jpg" alt="imagen de fondo" width="100%" height="350">
            <div class="overlay">
                <div class="text">
                    <h4>Salud y bienestar</h4>
                    <p>
                        Un entorno saludable es fundamental para nuestro bienestar
                        físico y emocional, al cuidar el planeta reducimos todo tipo
                        de contaminación.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mt-3 image-container">
            <img src="~/img/consecuencias/img2.jpg" alt="imagen de fondo" width="100%" height="350">
            <div class="overlay">
                <div class="text">
                    <h4>Biodiversidad asombrosa</h4>
                    <p>
                        Nuestro planeta, alberga una increíble variedad de especies y
                        ecosistemas, preservemos las maravillas de la naturaleza.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mt-3 image-container">
            <img src="~/img/consecuencias/img4.jpg" alt="imagen de fondo" width="100%" height="350">
            <div class="overlay">
                <div class="text">
                    <h4>Inspiración y creatividad</h4>
                    <p>
                        La naturaleza es una fuente infinita de inspiración
                        y creatividad. Cuidemos el planeta para construir un futuro mejor.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <h2 class="text-center mt-5 mb-4">Consecuencias al no cuidar el medio ambiente</h2>


    <div class="mt-4 d-grid">
        <button class="info-button">
            <p>Cambio Climático <span class="letra">[+]</span></p>
            
        </button>
        <div class="info-content">
            <p class="p-5 text-center">La contaminación atmosférica, especialmente la emisión descontrolada de gases de efecto invernadero, está provocando un aumento significativo de la temperatura global. Esto conduce al cambio climático, que a su vez desencadena eventos extremos como sequías, inundaciones, tormentas más intensas y patrones climáticos impredecibles. Estos fenómenos tienen impactos devastadores en los ecosistemas y las comunidades humanas.</p>
        </div>
    </div>

   <div class="mt-4 d-grid">
        <button class="info-button">
            <p>Pérdida de biodiversidad <span class="letra">[+]</span></p>
            
        </button>
        <div class="info-content">
            <p class="p-4 text-center">La contaminación del suelo, agua y aire afecta directamente a la flora y fauna. La destrucción de hábitats naturales, la contaminación de cuerpos de agua y el uso excesivo de pesticidas y productos químicos tóxicos contribuyen a la pérdida masiva de biodiversidad. La extinción de especies vegetales y animales altera los ecosistemas y puede tener consecuencias impredecibles en las cadenas alimenticias y los ciclos naturales.</p>
        </div>
    </div>

    <div class="mt-4 d-grid">
        <button class="info-button">
            <p>Salud humana <span class="letra">[+]</span></p>
            
        </button>
        <div class="info-content">
            <p class="p-4 text-center">La contaminación del aire y del agua tiene graves efectos en la salud humana. La exposición a sustancias tóxicas y contaminantes atmosféricos puede causar enfermedades respiratorias, cardiovasculares y cáncer. Asimismo, la contaminación del agua puede llevar a la propagación de enfermedades transmitidas por el agua y afectar el suministro de agua potable.</p>
        </div>
    </div>

    <div class="mt-4 d-grid">
        <button class="info-button">
            <p>Escasez de recursos naturales<span class="letra">[+]</span></p>
            
        </button>
        <div class="info-content">
            <p class="p-4 text-center">La explotación excesiva de recursos naturales, como la deforestación y la sobreexplotación de pesquerías, combinada con la contaminación, agota los recursos de nuestro planeta. Esto puede conducir a la escasez de agua dulce, la pérdida de suelos fértiles y la disminución de alimentos y otros productos naturales esenciales para la supervivencia humana.</p>
        </div>
    </div>

    <div class="mt-4 d-grid">
        <button class="info-button">
            <p>Impacto económico<span class="letra">[+]</span></p>
            
        </button>
        <div class="info-content">
            <p class="p-4 text-center">La degradación del medio ambiente también tiene repercusiones económicas negativas. Las catástrofes naturales causadas por el cambio climático y la contaminación pueden resultar en pérdidas masivas de infraestructura, viviendas y medios de vida. Además, los costos asociados con la limpieza y la restauración ambiental pueden ser enormes.</p>
        </div>
    </div>


    <div class="mt-5">
        <iframe width="100%" height="400" src="https://www.youtube.com/embed/YWLLeZzVAZU"
                title="YouTube cuidar ambiente" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                    gyroscope; picture-in-picture; web-share" allowfullscreen>
        </iframe>
    </div>

</div>


<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('.info-button').click(function() {
            var infoContent = $(this).next('.info-content');
            infoContent.toggleClass('show');
            if (infoContent.hasClass('show')) {
                $('.letra').text('[-]');
                infoContent.css('max-height', infoContent[0].scrollHeight + 'px');
            } else {
                $('.letra').text('[+]');
                infoContent.css('max-height', 0);
            }
        });
    });
</script>



